<form [formGroup]="registrationForm" class="border rounded p-5">
    <ngb-alert [type]="'danger'" [dismissible]="true" *ngIf="registrationError" (closed)="registrationError = null">
        {{registrationError}}
    </ngb-alert>
    <ngb-alert [type]="'success'" [dismissible]="true" *ngIf="registrationSuccess" (closed)="registrationSuccess = false">
        Registration success
    </ngb-alert>
    <label for="inputEmail" class="visually-hidden">Email address</label>
    <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
            Email is required
        </div>
        <div *ngIf="email.errors.email">
            Email is incorrect
        </div>
    </div>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
            Password is required
        </div>
    </div>
    <button class="btn btn-block btn-lg btn-success mt-2" (click)="createUser()" [disabled]="!registrationForm.valid">Create User</button>
    <button class="btn btn-block btn-lg btn-primary" (click)="location.back()">Cancel</button>
</form>