<form [formGroup]="editForm" class="border rounded p-5">
    <ngb-alert [type]="'success'" [dismissible]="true" *ngIf="editSuccess" (closed)="editSuccess = false">
        User updated successfully
    </ngb-alert>
    <div class="text-center">
        <img width="125" height="125" [src]="avatar" class="rounded-circle mb-2">
    </div>
    <label for="inputName" class="visually-hidden">Name</label>
    <input type="text" formControlName="name" id="inputName" class="form-control" placeholder="Name" required autofocus>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
            name is required
        </div>
    </div>
    <label for="inputJob" class="visually-hidden">Job</label>
    <input type="text" formControlName="job" id="inputJob" class="form-control" placeholder="Job">
    <button class="btn btn-block btn-lg btn-success mt-2" (click)="updateUser()" [disabled]="!editForm.valid">Update User</button>
    <button class="btn btn-block btn-lg btn-primary" routerLink="'/users'">Cancel</button>
</form>